

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>BDT Docs!</h1>
  <p>This is a simple site we can use as a repository for our documentation. It uses Devise, PostgreSQL, Sphinx, Knockout.js, and Blueprint.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Server Issues</h2>
    <p>Connect to Prism or Prism2 servers and manage Web Servers, Rails, and Sphinx.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
  <div class="span4">
    <h2>Prism Documentation</h2>
    <p>Remember all that documentation we did a few months back? Let's put it here!</p>
    <p><a class="btn" href="#">View details »</a></p>
 </div>
  <div class="span4">
    <h2>Aheeva Documentation</h2>
    <p>Is there any of this? If not, we should probably start some :)</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>External Site</h2>
    <p>Procedures relating to updating and maintaining the external site</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div>
