

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>BDT Docs!</h1>
  <p>This is a simple site we can use as a repository for our documentation. It uses Devise, PostgreSQL, Sphinx, Knockout.js, and Blueprint.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
</div>

<% if @all_categories.count > 0 %>
<% @counter = 1 %>
<div class='row'>
  <% @all_categories.each do |category| %>
  <div class='span4'>
    <h2><%= category.name %></h2>
    <p><p><a class='btn' href='<%= category_path(category) %>'>Go now »</a></p>
  </div>
    <% if ((@all_categories.count > @counter) &&  (@counter % 3 == 0)) %>
      </div><!-- close the row div -->
      <div class='row'><!-- start a new row -->
    <% end %>
    <% @counter +=1 %>
  <% end %>
</div>
<% end %>